@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@font-face {
    font-family: "Century Gothic-Bold";
    src: url(fonts/fonnts.com-Century_Gothic_Bold.ttf),
    url(fonts/fonnts.com-Century_Gothic_Bold.woff);
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Century Gothic-Bold", sans-serif;
}
body{
    background: #F2F2F2;
    height: 100%;
}
/*Navbar*/
.navbar{
    border: 5px solid red;
}
nav .container-fluid{
    position: relative;
    background-color: #8977D6;
    width: 90%;
    border-radius: 50px;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.6);
}
.navbar-brand{
    position: absolute;
    top: 0;
    margin-left: 40px;
    width: 150px;
    height: 150px;
    border-radius: 0 0 70px 70px;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.6);
    background-color: #FFFFFF;
}
.navbar-brand img{
    object-fit: cover;
}
.navbar-nav li{    
    margin-right: 1vw;
}
.navbar-nav a{
    color: #FFFFFF;
    font-size: large;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5 ease;
}
.navbar-nav a:hover{
    background: #FFFFFF;
    color: #8977D6;
}

.showcase{
    background: #81D4FA;
    height: 80vh;
    width: 90%;
    background-size: cover;
    border-radius: 20px;
    border: 5px solid #81D4FA;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    top: 110px;
    left: 5vw;
}

