@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@font-face {
    font-family: "Century Gothic-Bold";
    src: url(fonts/fonnts.com-Century_Gothic_Bold.ttf),
    url(fonts/fonnts.com-Century_Gothic_Bold.woff);
  }
*{
    padding: 0;
    margin: 0;
    font-family: "Century Gothic-Bold", sans-serif;
}
body{
    background: #F2F2F2;
}
.noto{
    font-family: "Noto Sans TC";
}
/*Navbar*/
nav .container-fluid{
    position: relative;
    background-color: #8977D6;
    width: 97%;
    height: 70px;
    border-radius: 500px;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.6);
}
.navbar-brand{
    position: absolute;
    top: 0;
    margin-left: 150px;
    width: 120px;
    height: 120px;
    border-radius: 0 0 500px 500px;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.6);
    background-color: #FFFFFF;
}
.navbar-brand img{
    object-fit: cover;
}
.navbar-nav a{
    color: #FFFFFF;
    font-size: 25px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5 ease;
}
.navbar-nav a:hover{
    background: #FFFFFF;
    color: #8977D6;
}

/*Carousel*/
.carousel-indicators{
    justify-content: start;
    align-items: center;
    margin-left: 0;
    padding-left: 20px;
    width: 100%;
    height: 50px;
}
.carousel-indicators .button{
    box-sizing: border-box;
    width: 4%;
    height: 20%;
    border: 1px solid transparent;
    border-radius: 5px;
}
 
.carousel-item img {
    max-height: 100%;
    object-fit: cover;
}

/*個人簡介*/
.myself .container-fluid{
    padding-right: 0;
    margin-top: 0px;
    width: 95%;
    border: 5px solid red;
    padding: 50px 0px 30px 80px;
}
.myself .container-fluid .left{
    border: blue 5px solid;
    margin-left: 80px;
    padding: 30px 0px 30px 0px;
}
.myself h1{
    color: #8977D6;
    font-size: 160px;
    letter-spacing: 5px;
}
.myself h3{
    font-size: 70px;
    font-weight: 700;
}
.myself .right{
    border: 5px solid green;
}
.myself img{
    position: relative;
    top: -260px;
    left: 80px;
    max-width: 80%;
    border: 5px solid yellow;
}
.myself p{
    margin-top: 50px;
    font-size: 20px;
    line-height: 2;
}